* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box-shadow {
    box-shadow: 2px -1px 22px -2px rgba(0,0,0,0.58);
    -webkit-box-shadow: 2px -1px 22px -2px rgba(0,0,0,0.58);
    -moz-box-shadow: 2px -1px 22px -2px rgba(0,0,0,0.58);
}

.container {
    padding: 20px;
    height: 100%;
}

.opacity-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.d-flex {
    display: flex;
}

.w-50 {
    width: 50%;
}
.w-50 {
    width: 100%;
}

.align-items-center {
    align-items: center;
}
.align-items-end {
    align-items: flex-end;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}

.glassmorphism-wrapper {
    background: #f25c5420;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.text-muted {
    font-size: .8rem;
    opacity: .6;
    margin: 5px 0px;
    font-style: italic;
}

.my-2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-right {
    text-align: right;
}

.mr-2 {
    margin-right: 10px;
}